*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
header{
    background-image:url(cdc-w9KEokhajKw-unsplash.png) ;
    width: 100%;
    height:650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.open,.close{
    display: none;
}
.logo{
    width: 165px;
    height: 158px;
    position: absolute;
    background-image: url(vector2.png);
    line-height: 100px;
    color: white;
    font-size: 30px;
    padding-left: 20px;
    font-weight: bold;
}
.menu li{
    list-style: none;   
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
.menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 100px;
}
.menu a:hover{
    text-decoration: #da1111 underline;
}
.center{
    font-size: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
    font-weight: bold;
    color: white;
}
.select{
    font-size: 28px;
    color: #323232;
    margin: 2rem 0 0 3rem;
}
.stat{
    font-size: 40px;
    font-weight: bold;
    color: #DB2626;
    text-align: center;
    padding-top: 3rem;
}
select::-ms-expand {
    display: none;
}
select{
    padding:1rem 3rem  ;
    margin: 1rem 0 2rem 3rem ;
    font-size: 20px;
    background: #232A3B;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    outline: none;
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.options:after {
    content: '';
    font: 17px "Consolas", monospace;
    color: red;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom:10px solid white;
    position: relative;
    transform: rotate(90deg);
    right: 40px;
    top: -18px;
    padding: 0 0 2px;
    pointer-events:none;
  }

.results{
    display: flex;
    font-size: 30px;
    
}
.results div{
    padding:0 3rem;
}
.results p{
    line-height: 50px;
    font-weight: bold;
    color: #323232;
}
.one{
    border-right: 3px solid #323232;
}
.state{
    margin: 3rem;
}
.state-result{
    display: flex;
    border-top: 1px solid #323232;
}
#state-heading{
    border-top: none;
}
.state-result p{
    padding: 20px 0;
    width: 15%;
    text-align: center;
    font-size: 20px;
    color: #323232;
}
#location,#edo,#fct,#lagos,#oyo,#rivers{
    text-align: left;
}





@media screen and (max-width:770px){
.open{
    display: block;  
    font-size: 25px;
    color: white;
    position: absolute;
    top: 35px;
    right: 30px; 
}
.close{
    position: absolute;
    display: none;
    top: 40px;
    right: 30px; 
}
#links{
    display: none;
}
.menu-container{
    display: flex;
    justify-content: center;
}
.menu{
    position: absolute;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column; 
    text-align: center;
    background-color: white;
    height: auto;
    margin-top: 75px;
    border-radius: 5px; 
    box-shadow: 2px 2px 10px 2px grey;
    padding: 30px 0; 
 }
 .menu a{
     line-height: 50px;
     color: black;
 }
.center{
    font-size: 40px;
    text-align: center;
    padding-top: 250px;
    margin: 0 20px;
}
.results div{
    padding:0 10px;
}
.results p{
    font-size: 18px;
    line-height: 30px;
}
select{
    padding:1rem  ;
    margin: 1rem;
    font-size: 16px;
}
.options:after {
    right: 55px;
}
.select{
    margin: 2rem 0 0 1rem;
    font-size: 20px;
}
.stat{
    font-size: 30px;
}
.state{
    margin: 10px;
}
.state-result p{
font-size: 16px;
    width: 100%;
}

}